<h1>Register Page</h1>

<form action='/users/register' method='post'>
    <label for='username'>Username:
        <input type='text' name='username' id='username' />
    </label>
    <label for='password'>Password:
        <input type='password' name='password' id='password' />
    </label>
    <label for='rePassword'>Re-Password:
        <input type='password' name='rePassword' id='rePassword' />
    </label>
    <button>Register Now</button>
</form>